@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .headerXl {
    font-family: "SpaceGrotesk", sans-serif;
    font-size: 88px;
    line-height: 88px;
    letter-spacing: -2.5px;
    @apply font-bold  text-white
  }
}

@layer components {
  .headerL {
    font-family: "SpaceGrotesk", sans-serif;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -1.5px;
    @apply font-bold text-white
  }
}

@layer components {
  .headerM {
    font-family: "SpaceGrotesk", sans-serif;
    font-size: 24px;
    line-height: 32px;
    @apply font-bold text-white
  }
}

@layer components {
  .text {
    font-family: "SpaceGrotesk", sans-serif;
    font-size: 18px;
    line-height: 28px;
    @apply font-extralight text-lightGray
  }
}

@layer components {
  .avatarBgGradient {
    background: rgb(36,36,36);
    background: linear-gradient(0deg, rgba(36,36,36,1) 18%, rgba(36,36,36,0) 90%);
  }
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
