@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .headerXl {
    font-family: "Space Grotesk", sans-serif;
    font-size: 88px;
    line-height: 88px;
    letter-spacing: -2.5px;
    @apply font-bold  text-white;
  }
}

@layer components {
  .headerL {
    font-family: "Space Grotesk", sans-serif;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -1.5px;
    @apply font-bold text-white;
  }
}

@layer components {
  .headerM {
    font-family: "Space Grotesk", sans-serif;
    font-size: 24px;
    line-height: 32px;
    @apply font-bold text-white;
  }
}

@layer components {
  .text {
    font-family: "Space Grotesk", sans-serif;
    font-size: 18px;
    line-height: 28px;
    @apply font-extralight text-lightGray;
  }
}

@layer components {
  .avatarBgGradient {
    background: rgb(36, 36, 36);
    background: linear-gradient(
      0deg,
      rgba(36, 36, 36, 1) 18%,
      rgba(36, 36, 36, 0) 90%
    );
  }
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

* {
  scrollbar-width: 0;
}

* {
  -ms-overflow-style: auto; /* auto or -ms-autohiding-scrollbar are common */
}
